.welcome-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.home{
        background-color: rgba($blue-2,.65);
    }

    &.services{
        background-color: $white;
    }

    .bg-logo{
        position: absolute;
        right: 0;
        top: -5px;
    }

    h1{
        @extend %title-1;
        margin-bottom: 20px;
        color: $white;
    }

    h2{
        @extend %title-2;
        color: $white;
    }

    .scroll{
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        padding-top: 8px;
        border-top: solid 1px $white;
        color: $white;
        font-size: 12px;
        text-transform: uppercase;
        transform: rotate(-90deg);
    }
}