// A

// B
%box-shadow{
    display: initial;
}

// C
%container{
    display: block;
    margin: auto;
    width: calc(100% - 150px);
    max-width: 1440px;
}

// D

// E

// F

// G

// H

// I

// J

// K

// L

// M

// N

// O

// P

// Q

// R

// S

// T

// W

// X

// Y

// Z

