// First title
%title-1{
    display: block;
    color: $black-4;
    font-size: 38px;
    text-transform: uppercase;
    white-space:nowrap;
}

// Second title
%title-2{
    @extend %title-1;
    font-size: 90px;
    font-weight: bold;
}

// Third title
%title-3{
    @extend %title-1;
    font-size: 54px;
    font-weight: bold;
}

// Fourth title
%title-4{
    @extend %title-1;
    font-size: 35px;
}

// Last title
%title-5{
    @extend %title-1;
    display: initial;
}
